.settings/
.project
.pydevproject
.pydevproject.bak

.idea/
.vscode/
env/

py_bind/c_src
py_bind/optv/*.c
py_bind/dist
py_bind/build
py_bind/liboptv
py_bind/optv.egg-info/

liboptv/config.h.in~
liboptv/tests/check_fb.trs
liboptv/build
*~

py_bind/optv/*.c
py_bind/build/*
py_bind/wheelhouse/*
*.pyd
*.pyc
*.so
# conda smithy ci-skeleton start
*.pyc
build_artifacts
# conda smithy ci-skeleton end
*.whl
corres.0
linkage.0
prio.0
target_targets
