language: python
python:
  - "2.7"

sudo: required
dist: trusty


addons:
  apt:
  - cmake
  - check
  - build-essential
  - git
  - gcc

before_install:
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh; 
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update --yes conda
  - conda create -n testenv --yes numpy scipy cython pytest pip setuptools python=$TRAVIS_PYTHON_VERSION
  - source activate testenv
  - cd $TRAVIS_BUILD_DIR
  - cd liboptv
  - mkdir _build && cd _build
  - cmake ../
  - make
  - make verify
  - sudo make install
  
install:
  - echo $(pwd)
  - cd ../../py_bind
  - python setup.py build_ext -I/usr/local/include -L/usr/local/lib
  - python setup.py install
  - export LD_LIBRARY_PATH="/usr/local/lib:$LD_LIBRARY_PATH"
  - export PATH="/usr/local/lib:$PATH"

script:
  - "cd test; pytest"
