language: python
matrix:
  include:
  - sudo: required
    services:
    - docker
    env:
    - CIBW_SKIP="*manylinux1_i686* cp34-*"
    - CIBW_BEFORE_BUILD="pip install -r requirements.txt && python setup.py prepare
      --liboptv-dir liboptv-src"
    - PIP=pip
  - os: osx
    language: generic
    env:
    - PIP=pip2
    - CIBW_BEFORE_BUILD="cd py_bind && pip install -r requirements.txt && python setup.py
      prepare --liboptv-dir liboptv-src"
    - CIBW_SKIP=cp34-*

script:
- "$PIP install cibuildwheel==0.10.2"
- cp -R liboptv py_bind/liboptv-src
- cibuildwheel py_bind --output-dir wheelhouse

deploy:
  provider: releases
  skip_cleanup: true
  api_key: "$GITHUB_TOKEN"
  file_glob: true
  file: wheelhouse/*
  on:
      tags: true
      branch: master
