include README.md
include LICENSE
include pyproject.toml
recursive-include pyoptv *.py
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .pytest_cache
