
Makefile
Makefile.in

aclocal.m4
autom4te.cache/
build-aux/

config.h
config.h.in
config.log
config.status
configure
libtool
m4/

src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/liboptv.la
src/*.lo
src/*.o

tests/.deps/
tests/.libs/
tests/check_fb
tests/*.o

CMakeCache.txt
*.cmake
CMakeFiles/
install_manifest.txt
*.so
stamp-h1
